Repository X-lab2017/open-digger, pull requests merged in 2020-11, with the labels that each got.

#186 fix data docs link error
  README.md
Labels: area/document, kind/bug, pull/approved

#195 [Docs] update slack url
  README.md
Labels: area/document, pull/approved

#210 [Feature] Add top developers rank list
  REPORT_TEMPLATE.md
  sqls/developers-top/manifest.json
  sqls/developers-top/post-processor.js
  sqls/developers-top/sql
Labels: kind/feature, pull/approved, pull/sql, pull/sql-runned, pull/sql-verified

#213 [Refactor] Add more details for top repos
  sqls/activity-repo-top/post-processor.js
  sqls/activity-repo-top/sql
Labels: kind/enhancement, pull/approved, pull/sql, pull/sql-runned, pull/sql-verified
