Repository X-lab2017/open-digger, pull requests merged in 2021-01, with the labels that each got.

#264 [Docs] add ASF report template and manifest
  case-study/ASF/REPORT_TEMPLATE.md
  case-study/ASF/manifest.json
Labels: area/document, pull/approved

#282 add Chinese company sql component
  REPORT_TEMPLATE.md
  sqls/activity-repo-top-Chinese/manifest.json
  sqls/activity-repo-top-Chinese/post-processor.js
  sqls/activity-repo-top-Chinese/pre-processor.js
  sqls/activity-repo-top-Chinese/sql
Labels: pull/approved, pull/sql, pull/sql-runned

#329 [Fix] Several changes to Chinese repo
  .github/hypertrons-components/auto_update_report/index.lua
  sqls/activity-repo-top-Chinese/post-processor.js
Labels: pull/hypertrons, pull/sql

#332 [Fix] Few things about Chinese report
  .github/hypertrons-components/auto_update_report/index.lua
  REPORT_TEMPLATE.md
Labels: pull/hypertrons

#290 sqls: add sql of developer (#276)
  case-study/sqls/Top-20-developer-ordered-by-repo/manifest.json
  case-study/sqls/Top-20-developer-ordered-by-repo/post-processor.js
  case-study/sqls/Top-20-developer-ordered-by-repo/pre-processor.js
  case-study/sqls/Top-20-developer-ordered-by-repo/sql
Labels: pull/approved, pull/sql

#294 add working hour distribution for case study
  case-study/ASF/REPORT_TEMPLATE.md
  case-study/sqls/working-hour-distribution/manifest.json
  case-study/sqls/working-hour-distribution/post-processor.js
  case-study/sqls/working-hour-distribution/sql
Labels: pull/approved, pull/sql

#339 [Fix] Minor changes to components
  case-study/sqls/top-developer-by-repo/post-processor.js
  case-study/sqls/working-hour-distribution/post-processor.js
Labels: pull/sql

#341 [Feature] Add ASF report to website
  docs/_sidebar.md
  docs/case-study/ASF.md
  docs/zh-cn/_sidebar.md
  docs/zh-cn/case-study/ASF.md
Labels: kind/feature, pull/website

#342 [Fix] ASF report website
  docs/case-study/ASF.md
  docs/zh-cn/case-study/ASF.md
Labels: pull/website

#343 [Refactor] Add case sql result into report
  case-study/ASF/REPORT_TEMPLATE.md
  case-study/CNCF/REPORT_TEMPLATE.md
  case-study/LFAIData/REPORT_TEMPLATE.md
Labels: kind/enhancement

#347 Update REPORT_TEMPLATE.md
  REPORT_TEMPLATE.md
Labels: pull/approved

#353 [Feature] Support pre processor in ci
  .github/hypertrons-components/sql_run/config.ts
  .github/hypertrons-components/sql_run/defaultConfig.ts
  .github/hypertrons-components/sql_run/index.lua
Labels: kind/feature, pull/hypertrons

#348 add company repo_count&developer_count
  sqls/activity-repo-top-Chinese/post-processor.js
Labels: pull/approved, pull/sql, pull/sql-runned

#362 [bug]Modify the error serial number
  docs/CONTRIBUTING.md
  docs/zh-cn/CONTRIBUTING.md
Labels: pull/approved

#387 update Chinese_repo config
  sqls/activity-repo-top-Chinese/manifest.json
Labels: pull/approved, pull/sql
